/* enter 入场动画 */
/* exit 出场动画 */
.fade-enter,.fade-exit-done,.fade-appear{
  opacity: 0;
}
.fade-enter-active,.fade-appear-active{
  opacity: 1;
  transition:  opacity 1s ease-in
}
.fade-exit-active{
  opacity: 0;
  transition: opacity 1s ease-in
}
.fade-enter-done,.fade-exit{
  opacity: 1;
}